/****************
      NAV
*****************/
nav {
  padding: 20px;
  background-color: beige;
  height: 75px;
}

.logo {
  font-family: Georgia;
  float: left;
}

.nav_profile {
  margin: 10px 40px 0px 0px;
  float: right;
}

.nav_profile h3 {
  text-align: right;
}

.signup {
  margin: 10px 40px 0px 0px;
  float: right;
}

/****************
      BODY
*****************/

.wrapper {
  margin: 50px;
}

.pad-top {
  padding-top: 10px;
}

ul {
  list-style: none;
}

/****************
  MATCHUPS INDEX
*****************/

.matchups_container {
  background-color: white;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-fixed {
    /* custom width */
    width: 220px;
}

#create_matchup {
  text-align: center;
}

.matchup_blocks {
  padding: 50px;
  text-align: center;
}

.matchup_blocks:hover {
  background: beige;
}


/****************
  MATCHUPS SHOW
*****************/

.matchup_names {
  text-align: center;
}

.matchup_name {
  display: inline;
  margin: 100px 100px;
  float: left;
}
