/****************
      NAV
*****************/
nav {
  padding: 20px;
  background-color: beige;
  height: 75px;
}

.logo {
  font-family: Georgia;
  float: left;
}

.logo a {
  text-decoration: none;
}

.nav_right {
  margin-right: 50px;
  float: right;
}

.nav_right label{
  display: inline;
}

.nav_right h3 {
  text-align: right;
}

.signin {
  margin-top: 10px;
}

.signin input{
  margin: 0px;
  padding: 2px;
  width: 125px;
}

input.sign_in_button {
  width: 75px;
  height: 25px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: dodgerblue;
}

input.sign_in_button:hover {
  background-color: white;
  color: dodgerblue;
  border: 2px solid dodgerblue;
}

.signup {
  float: right;
}

/****************
      BODY
*****************/

.wrapper {
  margin: 50px;
}

.pad-top {
  padding-top: 10px;
}

ul {
  list-style: none;
}

/****************
  MATCHUPS INDEX
*****************/

.matchups_container {
  background-color: white;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-fixed {
    /* custom width */
    width: 220px;
}

#create_matchup {
  text-align: center;
}

.matchup_blocks {
  padding: 50px;
  text-align: center;
}

.matchup_blocks:hover {
  background: beige;
}


/****************
  MATCHUPS SHOW
*****************/

.matchup_names {
  text-align: center;
}

.matchup_name {
  display: inline;
  margin: 100px 100px;
  float: left;
}

.countdown {
  text-align: center;
  font-size: 2em;
}
