* {
  font-family: Oswald;
  color: black;
}

/****************
      NAV
*****************/
nav {
  background-color: #e9e9e9;
  height: 130px;
}

.logo {
  font-family: Georgia;
  float: left;
}

.logo a {
  text-decoration: none;
  color: red;
}

.links {
  padding: 100px 350px 0px 0px;
  text-align: center;
}

.links a {
  margin: 0px 20px;
  color: black;
}

.nav_right {
  margin-right: 50px;
  float: right;
}

.nav_right label{
  display: inline;
}

.nav_right h3 {
  text-align: right;
}

.signin {
  margin-top: 10px;
}

.signin input{
  margin: 0px;
  padding: 2px;
  width: 125px;
}

input.sign_in_button {
  width: 75px;
  height: 25px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: black;
}

input.sign_in_button:hover {
  background-color: white;
  color: dodgerblue;
  border: 2px solid dodgerblue;
}

.signup {
  float: right;
}

.signup a {
  color: black;
}

/****************
      BODY
*****************/

.wrapper {
  margin: 50px;
}

.pad-top {
  padding-top: 10px;
}

ul {
  list-style: none;
}

/****************
  MATCHUPS INDEX
*****************/


.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-fixed {
    /* custom width */
    width: 220px;
}

#create_matchup {
  text-align: center;
}

.matchup_blocks {
  padding: 50px;
  text-align: center;
  background-color: white;
}

.matchup_blocks:hover {
  background: #e9e9e9;
}

.open_closed {
  margin: auto;
  width: 800px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}


/****************
  MATCHUPS SHOW
*****************/

.countdown {
  text-align: center;
  font-size: 2em;
}

.matchup_results {
  text-align: center;
  color: red;
}

.matchup_name_and_type {
  text-align: center;
}

.competitor_buttons {
  margin: 75px 0px;
  text-align: center;
}

.competitor_buttons input {
  padding: 50px;
  font-size: 3em;
  color: white;
  background-color: dodgerblue;
  border: solid 2px white;
  border-radius: 12px;
}

.competitor_buttons input:hover {
  color: dodgerblue;
  background-color: beige;
  border: solid 2px dodgerblue;
}

.competitor_buttons h1 {
  padding: 50px;
  vertical-align: text-bottom;
}

.deadline {
  text-align: center;
}

.pie_charts {
  text-align: center;
}


/****************
  MATCHUPS EDIT
*****************/

.matchup_edit_header {
  text-align: center;
}

.random_buttons {
  margin: 75px 0px;
  text-align: center;
  align: center;
}

.random_buttons input {
  padding: 50px;
  font-size: 3em;
  color: white;
  background-color: dodgerblue;;
  border: solid 2px white;
  border-radius: 12px;
}

.random_buttons input:hover {
  color: dodgerblue;
  background-color: beige;
  border: solid 2px dodgerblue;
}

.random_buttons h1 {
  padding: 50px;
  vertical-align: text-bottom;
}
